.cool-box
{
    font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
}

div.cool-box.content
{
    position: relative;
    background: white;
    border: 1px solid #555;
    border-top-width: 0;
    margin: 0px;
    padding: 0px;

    height:100%;
    width: 100%;

}

div.cool-box.title-bar
{
    padding: 3px 45px 3px 10px;
    position: relative;
    border: 1px solid #3B5998;
    border-bottom: 0;
    background: #6D84B4;
    vertical-align: baseline;

}

span.cool-box.title
{
    display:block;
    color: white;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-size: 100%;
    vertical-align: baseline;
    margin: 1px 16px 2px 0;
}

div.cool-box.controls
{

    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin:0;
    width: 100%;

    text-align: right;
    background: #F2F2F2;
    border-top: 1px solid #CCC;
}

div.cool-box.box
{
    z-index: 1000;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mMICAjYCAADhgGiBObB6AAAAABJRU5ErkJggg%3D%3D);
    border-radius: 8px;

    padding: 10px;
    padding-right: 12px;

    min-height: 50px;
    min-width: 100px;

    max-width: 400px;

    position:absolute;
}

div.cool-box.body
{
    padding-bottom: 38px;
    min-height: 40px;
    height: auto;
    padding: 10px;
}

button.cool-box.button
{


    margin-right: 10px;
    margin-top: 6px;
    margin-bottom: 6px;

    background-color: #5B74A8;
    background-position: 0 -294px;
    background-repeat: no-repeat;
    border-color: #29447E #29447E #1A356E;

    border: 1px solid;
    box-shadow: 0 1px 0 rgba(0,0,0,0.1);
    height: 26px;
    font-size: 13px;
    color: white;
    padding-left: 13px;
    padding-right: 13px;

    font-weight: bold;
    cursor: pointer;
    background-image: url('../img/dlg-bg.png');
    border-color: #29447E #29447E #1A356E;

}

button.cool-box.button.grey
{

    background-color: #EEE;
    color: #444;
    background-position: 0 -250px;
    border-color: #999;
    
}

div.cool-box.loader {

    background-image: url('../img/loader.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px 60px;
    height: 70%;
    
}